<h1>New Book</h1>

<form action="/books" method="post" enctype="multipart/form-data">
     <%- include("_form_fields.ejs") %>
     <a href="/books" >Cancel</a>
     <button type="submit">Add Book</button>
</form>
